- title "Zig-Zag"

- content_for :javascript do 
  -# // REQUIRED JAVASCRIPT LIBRARIES
  = javascript_include_tag "vendor/underscore.js"
  = javascript_include_tag "vendor/jstorage.js"
  = javascript_include_tag "vendor/jquery.easing.1.3.js"
  = javascript_include_tag "vendor/jquery-animate-css-rotate-scale.js"
  = javascript_include_tag "vendor/jquery-css-transform.js"
  = javascript_include_tag "vendor/jquery.quicksand.js"
  = javascript_include_tag "vendor/showdown.js"
  = javascript_include_tag "demos/kitchen-sink/application.js"
 
  /////////////////////////////////////////
  // JAVASCRIPT TEMPLATES 
  // Powered by Underscore.js 'Templates'
  /////////////////////////////////////////
  = partial "demos/zig-zag/templates/fish"
  = partial "demos/kitchen-sink/templates/pond-info"
  = partial "demos/kitchen-sink/templates/tags"
  = partial "demos/kitchen-sink/templates/filters"
  = partial "demos/kitchen-sink/templates/fish-details"
  = partial "demos/kitchen-sink/templates/modal"
  = partial "demos/kitchen-sink/templates/shortlist"
  = partial "demos/kitchen-sink/templates/shortlist-email"
  = partial "demos/kitchen-sink/templates/shortlist-print"


#query.dev
  .page-header
    %h1 Zig-Zag Demo

  .row
    .span5
      .row
        .span5
          %form#search.form-horizontal
            .well
              %fieldset
                %center
                  %input.search-query{:type => "text", :class => "span4", :placeholder => "Search by title"}

          %form#fishpond.form-horizontal.well
            %h2 Tags
            %fieldset.tags
              -# Sliders Dynamically added

            %h2 Filters     
            %fieldset.filters
              .control-group
                .control-label
                  Only show:

            %h2 Options
            %fieldset.options
              .control-group
                .control-label 
                  
                .controls
                  %label.checkbox
                    %input#query_options_animation{"data-slug" => "options-animation", :name => "query[options][animation]", :type => "checkbox", :value => "0"}
                      Disable Animation?

        .span5
          %h3 Shortlisted
          %ul#shortlist-master
          -#
            .btn.btn-danger
              Clear Shortlist

    .span6.offset1
      #pond-info
        %h2 Results
      #results.zigzag
        %ul.thumbnails

  = partial "demos/kitchen-sink/partials/modal"


- content_for :css do
  = stylesheet_link_tag "zig-zag.css"

  %style(type="text/css") 
    :scss
      html{
        overflow-y: scroll;
        #query{
          #results{
            .thumbnails{
              .fish{
                &.loading{
                  .thumbnail{
                    background: url(/images/common/loading.gif) no-repeat center center;
                    color: #999;
                  }
                }
                &.loaded{ }

                .thumbnail{
                  text-align: center;
                  position: relative;
                  background: #fff;

                  .title{
                    height: 35px;
                    display: block;
                  }

                  .details{
                    width: 100%;
                    //height: 120px;
                    text-align: center;
                    margin-bottom: 30px;
                    padding-top: 10px;

                    a[data-toggle='modal']{
                      display: block;
                     // border: red 1px solid;
                      width: 100%;
                      height: auto;
                      overflow: hidden;
                    }
                    .btn{
                      margin-top: 7px;
                    }
                  }
                  .favourite{
                    position: absolute;
                    top: 49px;
                    left: 4px;
                  }
                }
              }
            }
          }
        }

        .modal{
          &.modal-wide{
            width: 940px;
            margin-left: -470px;
            top: 40%;
            .modal-body{
              max-height: 700px;
              &.loading{
                background: #fff url(/images/common/loading.gif) no-repeat center center;
                min-height: 200px;
              }
              .comment_box{
                display: none;
              }
            }
          }
        }
      
        #shortlist-master{
          list-style: none;
          float: left;
          margin: 15px 0 0 0;
          padding: 0;
          li{
            float: left;
            padding: 3px;
            width: 107px;
            margin-bottom: 10px;
            overflow: hidden;
          }
        }
      }