/////////////////////////////////////////
// JAVASCRIPT TEMPLATES 
// Powered by Underscore.js 'Templates'
/////////////////////////////////////////
= partial "demos/kitchen-sink/templates/tags"
= partial "demos/kitchen-sink/templates/filters"
= partial "demos/kitchen-sink/templates/fish"
= partial "demos/kitchen-sink/templates/fish-details"
= partial "demos/kitchen-sink/templates/modal"
= partial "demos/kitchen-sink/templates/shortlist"