/////////////////////////////////////////
// JAVASCRIPT TEMPLATES 
// Powered by Underscore.js 'Templates'
/////////////////////////////////////////
= partial "demos/kitchen-sink/templates/query-info"
= partial "demos/kitchen-sink/templates/query-tag"
= partial "demos/kitchen-sink/templates/query-filter"
= partial "demos/kitchen-sink/templates/fish-result"
= partial "demos/kitchen-sink/templates/fish-details"
= partial "demos/kitchen-sink/templates/fish-modal"
= partial "demos/kitchen-sink/templates/shortlist-master"
= partial "demos/kitchen-sink/templates/shortlist-email"
= partial "demos/kitchen-sink/templates/shortlist-print"