- title "Kitchen Sink"

- content_for :javascript do 
  -# // REQUIRED JAVASCRIPT LIBRARIES
  = javascript_include_tag "vendor/underscore.js"
  = javascript_include_tag "vendor/jstorage.js"
  = javascript_include_tag "vendor/jquery.easing.1.3.js"
  = javascript_include_tag "vendor/jquery-animate-css-rotate-scale.js"
  = javascript_include_tag "vendor/jquery-css-transform.js"
  = javascript_include_tag "vendor/jquery.quicksand.js"
  = javascript_include_tag "demos/kitchen-sink/application.js"
  = partial "demos/kitchen-sink/templates/base"

.page-header
  %h1 Kitchen Sink - Demo
  %br
  .row
    .span9
      %p
        %strong Powered by:
      %ul
        %li 
          = link_to "Underscore JS Templates", "http://underscorejs.org/", :target => "_blank"
          (Javascript Templates)
        %li
          = link_to "JStorage", "http://www.jstorage.info/", :target => "_blank"
          (Javascript client-side caching)
        %li
          = link_to "jQuery Quicksand Plugin", "http://razorjack.net/quicksand/", :target => "_blank"
          (Filtering and Animation)
        %li
          = link_to "Disqus", "http://disqus.com", :target => "_blank"
          (Commenting engine)
        %li
          = link_to "jQuery UI Slider", "http://jqueryui.com/demos/slider/", :target => "_blank"
          (Form UI controls)
        %li
          = link_to "jQuery Deferred.Promise()", "http://api.jquery.com/deferred.promise/", :target => "_blank"
          (Allows asynchronous javascript functions)
    .span2.offset1
      %span.label.label-success Metadata enabled
      %br 
      %span.label.label-success Comments enabled
      %br 
      %span.label.label-success Filters enabled
      %br 
      %span.label.label-success Search Box enabled
      -#
        %br 
        %span.label.label-warning Popularity Sliders [In Dev]

#query
  .row
    .span5
      .row
        .span5
          %form#search.form-horizontal
            .well
              %fieldset
                %center
                  %input.search-query{:type => "text", :class => "span4", :placeholder => "Search by title"}

          %form#fishpond.form-horizontal.well
            %h2 Tags
            %fieldset.tags
              -# Sliders Dynamically added

            %h2 Filters     
            %fieldset.filters
              .control-group
                .control-label
                  Only show:

      .row
        .span5
          .well    
            %h3.pull-left Options

            .form-horizontal
              %fieldset.options
                = partial "demos/kitchen-sink/partials/limit"
                = partial "demos/kitchen-sink/partials/easing"
                -#
                  .control-group
                    %label.control-label Animation Duration
                    .controls
                      %input#query_tags_biological{"data-slug" => "biological", :name => "query[tags][biological]", :type => "hidden", :value => "10"}/
                      .slider.span2{"data-target" => "query[tags][biological]"}

                .control-group
                  .control-label 
                    Disable Animation?
                  .controls
                    %label.checkbox
                      %input#query_options_animation{:name => "query[options][animation]", :type => "checkbox", :value => "0"}

                .control-group
                  .control-label 
                    Zig Zag Results
                  .controls
                    %label.checkbox
                      %input#query_options_zigzag{:name => "query[options][zigzag]", :type => "checkbox", :value => "0"}

                .control-group
                  .control-label 
                    Debug Mode
                  .controls
                    %label.checkbox
                      %input#query_options_debug{:name => "query[options][debug]", :type => "checkbox", :value => "0"}                               
      .row
        .span5
          .well    
            %h3.pull-left Shortlisted        
            .btn-group.pull-right
              %button.btn.dropdown-toggle.disabled{"data-toggle" => "dropdown", :id => "shortlist-options"} 
                Options
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#", :id => "shortlist-print"}
                    %i.icon-print
                    Print
                %li
                  %a{:href => "#", :id => "shortlist-email"}
                    %i.icon-envelope
                    Email (ToDo)
                %li.divider
                %li
                  %a{:href => "#", :id => "shortlist-reset"}
                    %i.icon-trash
                    Reset (ToDo)
            .row-fluid
              .span12
                %ul#shortlist-master

            // Shortlist Email Modal
            #shortlist-export-email.modal.hide
              .modal-header
                %button.close{"data-dismiss" => "modal"} ×
                %h3 Confirm Email
              .modal-body
                // Dynamically added
              .modal-footer
                %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
                %a.btn.btn-primary{:href => "#", :id => "shortlist-email-confirm"} Email


            // Shortlist Print Modal 
            #shortlist-export-print.modal.hide
              .modal-header
                %button.close{"data-dismiss" => "modal"} ×
                %h3 Confirm Print
              .modal-body
                // Dynamically added
              .modal-footer
                %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
                %a.btn.btn-primary{"data-dismiss" => "modal", :href => "#", :id => "shortlist-print-confirm"} Print



    .span6.offset1
      #pond-info
        %h2 Results
      #results.grid
        %ul.thumbnails



  #emptyModal.modal.modal-wide.hide
    .modal-body.loading
      // Empty



- content_for :css do
  = stylesheet_link_tag "zig-zag.css"
  %style(type="text/css") 
    :scss
      #query{
        #pond-info{
          margin-bottom: 20px;
          .count{
            float: none;
            margin: 0;
          }
        }
        #results{
          &.grid{
            .thumbnails{
              .fish{
                width: 140px;
                margin-left: 20px;
                float: left;
                margin-bottom: 18px;
                &.loading{
                  .thumbnail{
                    background: url(/images/common/loading.gif) no-repeat center center;
                    color: #999;
                  }
                }
                &.loaded{ }

                .thumbnail{
                  min-height: 150px;
                  text-align: center;
                  position: relative;
                  background: #fff;

                  .title{
                    height: 35px;
                    display: block;
                  }

                  .details{
                    width: 100%;
                    height: 120px;
                    text-align: center;
                    margin-bottom: 30px;
                    padding-top: 10px;

                    a[data-toggle='modal']{
                      display: block;
                      width: 130px;
                      height: 120px;
                      overflow: hidden;
                    }

                    .btn{
                      margin-top: 7px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .modal{
        &.modal-wide{
          width: 940px;
          margin-left: -470px;
          top: 40%;
          .modal-body{
            max-height: 700px;
            &.loading{
              background: #fff url(/images/common/loading.gif) no-repeat center center;
              min-height: 200px;
            }
            .comment_box{
              display: none;
            }
          }
        }
      }
    
      #shortlist-master{
        list-style: none;
        float: left;
        margin: 15px 0 0 0;
        padding: 0;
        li{
          float: left;
          padding: 3px;
          width: 107px;
          margin-bottom: 10px;
          overflow: hidden;
        }
      }