#query
  .page-header
    %h1 Kitchen Sink - Demo
    %br
    .row
      .span9
        %p
          %strong Powered by:
          %ul
            %li 
              = link_to "Underscore JS Templates", "http://underscorejs.org/", :target => "_blank"
              (Javascript Templates)
            %li
              = link_to "JStorage", "http://www.jstorage.info/", :target => "_blank"
              (Javascript client-side caching)
            %li
              = link_to "jQuery Quicksand Plugin", "http://razorjack.net/quicksand/", :target => "_blank"
              (Filtering and Animation)
            %li
              = link_to "Disqus", "http://disqus.com", :target => "_blank"
              (Commenting engine)
            %li
              = link_to "jQuery UI Slider", "http://jqueryui.com/demos/slider/", :target => "_blank"
              (Form UI controls)
            %li
              = link_to "jQuery Deferred.Promise()", "http://api.jquery.com/deferred.promise/", :target => "_blank"
              (Allows asynchronous javascript functions)
      .span2.offset1
        %span.label.label-success Metadata enabled
        %br 
        %span.label.label-success Comments enabled
        %br 
        %span.label.label-success Filters enabled
        %br 
        %span.label.label-warning Search Box [In Dev]
        %br 
        %span.label.label-warning Popularity Sliders [In Dev]

  .row
    .span5
      .row
        .span5
          %form#fishpond.form-horizontal.well
            %h2 Tags
            %fieldset.tags
              -# Sliders Dynamically added

            %h2 Filters     
            %fieldset.filters
              .control-group
                .control-label
                  Only show:

      .row
        .span5
          .well    
            %h3.pull-left Options
            .row-fluid
              .span12
                %fieldset.options
                  .control-group
                    .control-label 
                      
                    .controls
                      %label.checkbox
                        %input#query_options_animation{"data-slug" => "options-animation", :name => "query[options][animation]", :type => "checkbox", :value => "0"}
                          Disable Animation?
      .row
        .span5
          .well    
            %h3.pull-left Shortlisted        
            .btn-group.pull-right
              %button.btn.dropdown-toggle.disabled{"data-toggle" => "dropdown", :id => "shortlist-options"} 
                Options
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#", :id => "shortlist-print"}
                    %i.icon-print
                    Print
                %li
                  %a{:href => "#", :id => "shortlist-email"}
                    %i.icon-envelope
                    Email
                %li.divider
                %li
                  %a{:href => "#", :id => "shortlist-reset"}
                    %i.icon-trash
                    Reset
            .row-fluid
              .span12
                %ul#shortlist-master

            // Shortlist Email Modal
            #shortlist-export-email.modal.hide
              .modal-header
                %button.close{"data-dismiss" => "modal"} ×
                %h3 Confirm Email
              .modal-body
                // Dynamically added
              .modal-footer
                %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
                %a.btn.btn-primary{:href => "#", :id => "shortlist-email-confirm"} Email


            // Shortlist Print Modal 
            #shortlist-export-print.modal.hide
              .modal-header
                %button.close{"data-dismiss" => "modal"} ×
                %h3 Confirm Print
              .modal-body
                // Dynamically added
              .modal-footer
                %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
                %a.btn.btn-primary{:href => "#", :id => "shortlist-print-confirm"} Print



    .span6.offset1
      %h2 Results
      #results
        %ul.thumbnails



  #emptyModal.modal.modal-wide.hide
    .modal-body.loading
      // Empty


- content_for :css do
  :css
    .loading .shortlist{
      display: none;
    }
    
    .loaded .shortlist{
      display: block;
    }

    .shortlist.active{
      border: red 1px solid;
    }


    #results ul li .thumbnail{
      min-height: 100px;
      text-align: center;
      position: relative;
      background: #fff;
    }
      #results ul li.loading .thumbnail{
        background: url(/images/common/loading.gif) no-repeat center center;
        color: #999;
      }

      #results ul li .thumbnail a[data-toggle='modal']{
        display: block;
        width: 130px;
        height: 120px;
        overflow: hidden;
      }
      #results ul li .thumbnail .title{
        height: 20px;
        display: block;
      }
       
       #results ul li .thumbnail .details{
          width: 100%;
          height: 120px;
          text-align: center;
          margin-bottom: 30px;
          padding-top: 10px;
        }
          #results ul li .thumbnail .details .btn{
            margin-top: 7px;
          }

       #results ul li .thumbnail .shortlist{
        position: absolute;
        top: -5px;
        left: -5px;
      }

    /* Modal */
    .modal.modal-wide{
      width:940px;
      margin-left:-470px;
      top: 40%;
    }
      .modal.modal-wide .modal-body{
        max-height: 700px;
      }
        .modal.modal-wide .modal-body.loading{
          background: #fff url(/images/common/loading.gif) no-repeat center center;
          min-height: 200px;
        }

        .modal.modal-wide .modal-body .comment_box{
          display: none;
        }

    /* Shortlist Master */
    #shortlist-master{
      list-style: none;
      float: left;
      margin: 15px 0 0 0;
      padding: 0;
    }
      #shortlist-master li{
        float: left;
        padding: 3px;
        width: 107px;
        margin-bottom: 10px;
        overflow: hidden;
      }


/////////////////////////////////////////
// REQUIRED EXTERNAL JAVASCRIPT
/////////////////////////////////////////
- content_for :javascript do
  = javascript_include_tag "vendor/jstorage.js"
  = javascript_include_tag "vendor/underscore.js"
  = javascript_include_tag "vendor/jquery.quicksand.js"
  
  = partial "demos/kitchen-sink/templates/base"
  = javascript_include_tag "demos/kitchen-sink/application.js"
