---
layout: demo_layout_fixed
---

#query
  .page-header
    %h1 Demo
    %br
    -#
      .row
        .span9
          %p
            %strong Powered by:
            %ul
              %li 
                = link_to "Underscore JS Templates", "http://underscorejs.org/", :target => "_blank"
                (Javascript Templates)
              %li
                = link_to "Locache", "http://locachejs.org/", :target => "_blank"
                (Javascript client-side caching)
              %li
                = link_to "jQuery Quicksand Plugin", "http://razorjack.net/quicksand/", :target => "_blank"
                (Filtering and Animation)
              %li
                = link_to "Disqus", "http://disqus.com", :target => "_blank"
                (Commenting engine)
              %li
                = link_to "jQuery UI Slider", "http://jqueryui.com/demos/slider/", :target => "_blank"
                (Form UI controls)
              %li
                = link_to "jQuery Deferred.Promise()", "http://api.jquery.com/deferred.promise/", :target => "_blank"
                (Allows asynchronous javascript functions)
        .span2.offset1
          %span.label.label-success Metadata enabled
          %br 
          %span.label.label-success Comments enabled
          %br 
          %span.label.label-important Filters disabled

  .row
    .span5
      .row
        .span5
          %form#fishpond.form-horizontal.well
            %h2 Tags
            %fieldset.tags
              -# Sliders Dynamically added

            %h2 Filters     
            %fieldset.filters
              .control-group
                .control-label
                  Only show:

            %span.label
              Filters currently not hooked up.

        .span5
          %h3 Shortlisted
          %ul#shortlist-master
          -#
            .btn.btn-danger
              Clear Shortlist

    .span6.offset1
      %h2 Results
      #results
        %ul.thumbnails



  #emptyModal.modal.hide
    .modal-body.loading
      // Empty


- content_for :css do
  :css
    .loading .shortlist{
      display: none;
    }
    
    .loaded .shortlist{
      display: block;
    }

    .shortlist.active{
      border: red 1px solid;
    }


    #results ul li .thumbnail{
      min-height: 100px;
      text-align: center;
      position: relative;
      background: #fff;
    }
      #results ul li.loading .thumbnail{
        background: url(/images/common/loading.gif) no-repeat center center;
        color: #999;
      }

      #results ul li .thumbnail a[data-toggle='modal']{
        display: block;
        width: 130px;
        height: 120px;
        overflow: hidden;
      }
      #results ul li .thumbnail .title{
        height: 20px;
        display: block;
      }
       
       #results ul li .thumbnail .details{
          width: 100%;
          height: 120px;
          text-align: center;
          margin-bottom: 30px;
          padding-top: 10px;
        }
          #results ul li .thumbnail .details .btn{
            margin-top: 7px;
          }

       #results ul li .thumbnail .shortlist{
        position: absolute;
        top: -5px;
        left: -5px;
      }

    /* Modal */
    .modal{
      width:940px;
      margin-left:-470px;
      top: 40%;
    }
      .modal-body{
        max-height: 700px;
      }
        .modal-body.loading{
          background: #fff url(/images/common/loading.gif) no-repeat center center;
          min-height: 200px;
        }

        .modal-body .comment_box{
          display: none;
        }

    /* Shortlist Master */
    #shortlist-master{
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
    }
      #shortlist-master li{
        float: left;
        padding: 3px;
        width: 120px;
        height: 120px;
        overflow: hidden;
      }


/////////////////////////////////////////
// REQUIRED EXTERNAL JAVASCRIPT
/////////////////////////////////////////

- content_for :javascript do  
  = partial "demos/kitchen-sink/templates/base"
  = javascript_include_tag "demos/kitchen-sink/application.js"

