- api_hardcoded true
- title "Science Majors"


- content_for :javascript do 
  // REQUIRED EXTERNAL JAVASCRIPT
  = partial "demos/kitchen-sink/templates/base"
  = javascript_include_tag "vendor/underscore.js"
  = javascript_include_tag "vendor/jstorage.js"
  = javascript_include_tag "vendor/jquery.quicksand.js"
  = javascript_include_tag "demos/kitchen-sink/application.js"



#query
  .page-header
    %h1 Demo

  .row
    .span5
      .row
        .span5
          %form#fishpond.form-horizontal.well
            %h2 Tags
            %fieldset.tags
              -# Sliders Dynamically added

            %h2 Filters     
            %fieldset.filters
              .control-group
                .control-label
                  Only show:

            %h2 Options
            %fieldset.options
              .control-group
                .control-label 
                  
                .controls
                  %label.checkbox
                    %input#query_options_animation{"data-slug" => "options-animation", :name => "query[options][animation]", :type => "checkbox", :value => "0"}
                      Disable Animation?

        .span5
          %h3 Shortlisted
          %ul#shortlist-master
          -#
            .btn.btn-danger
              Clear Shortlist

    .span6.offset1
      %h2 Results
      #results
        %ul.thumbnails



  #emptyModal.modal.hide
    .modal-body.loading
      // Empty


- content_for :css do
  :css
    .loading .shortlist{
      display: none;
    }
    
    .loaded .shortlist{
      display: block;
    }

    .shortlist.active{
      border: red 1px solid;
    }

    #results ul li:nth-child(6n+1) { margin-top: 0px; clear: left; }
    #results ul li:nth-child(6n+2) { margin-top: 30px; }
    #results ul li:nth-child(6n+3) { margin-top: 60px; }
    #results ul li:nth-child(6n+4) { margin-top: 60px; }
    #results ul li:nth-child(6n+5) { margin-top: 30px; }
    #results ul li:nth-child(6n+6) { margin-top: 0px; }

    #results ul li .thumbnail{
      min-height: 100px;
      text-align: center;
      position: relative;
      background: #fff;
    }
      #results ul li.loading .thumbnail{
        background: url(/images/common/loading.gif) no-repeat center center;
        color: #999;
      }

      #results ul li .thumbnail a[data-toggle='modal']{
        display: block;
        width: 130px;
        height: 100px;
        overflow: hidden;
      }
      #results ul li .thumbnail .title{
        height: 40px;
        display: block;
      }
       
       #results ul li .thumbnail .details{
          width: 100%;
          height: 120px;
          text-align: center;
          margin-bottom: 10px;
          padding-top: 10px;
        }
          #results ul li .thumbnail .details .btn{
            margin-top: 7px;
          }

       #results ul li .thumbnail .shortlist{
        position: absolute;
        top: -5px;
        left: -5px;
      }

    /* Modal */
    .modal{
      width:940px;
      margin-left:-470px;
      top: 40%;
    }
      .modal-body{
        max-height: 700px;
      }
        .modal-body.loading{
          background: #fff url(/images/common/loading.gif) no-repeat center center;
          min-height: 200px;
        }

        .modal-body .comment_box{
          display: none;
        }

    /* Shortlist Master */
    #shortlist-master{
      list-style: none;
      float: left;
      margin: 0;
      padding: 0;
    }
      #shortlist-master li{
        float: left;
        padding: 3px;
        width: 120px;
        height: 120px;
        overflow: hidden;
      }




